.texto_uno{
    background-color: blue;
    color: white;
    font-size: 38px;
    padding: 15px 32px;
    margin: 100px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.texto_uno .texto_dos{
    visibility: hidden;
    width: 120px;
    background-color: red;
    padding: 6px 0;
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    top: 65px;
    left: 80%;
    margin-left: -40px;
    z-index: 1;
}

.texto_uno .texto_dos::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:transparent transparent red transparent;
}

.texto_uno:hover .texto_dos{
    visibility: visible;
}
