.cat-shop {
    line-height: 1.6;
    font-family: Verdana, serif;
    display: flex;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to left, darkcyan, lightcyan);
    padding: 10vh 0;
    height: 100vh;
}

.img-gato {
    max-width: 100%;
    height: auto;
    box-shadow: 3px 3px 25px 5px rgb(0, 0, 0, .7);
}

.col {
    padding: 0 1em;
}

.cont-title {
    color: darkslategray;
    font-size: 8vw;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 .25em;
}

.btn {
    display: inline-block;
    color: white;
    background-color: darkslategray;
    padding: 1em 4em;
}

.cont-text {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 0 1.5em;
}