.c-body{
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
}
.c-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px;
    background-color: darkblue;
    box-shadow: 0 5px 13px 0 rgb(0, 0, 0, 0.15);
}
.c-logo{
    font-size: 28px;
    font-weight: 700;
}

.c-logo a{
    color: white;
}
.c-header-nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
li{
    display: inline-block;
}
.c-nav a{
    display: block;
    padding: 16px 8px;
    color: white;
}
.c-user{
    display: flex;
    align-items: center;
}

span{
    color: whitesmoke;
    margin-left: 1px;
    margin-inline-start: 1px;
}
.imageAsh{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.c-user:before{
    content: "";
    width: 2px;
    height: 22px;
    background: darkcyan;
}
a{
    text-decoration: none;
}