.div-skew {
    margin-top: 80px;
    background: linear-gradient(180deg, red, orange);
    width: 200px;
    height: 200px;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
}

@keyframes skew {
    0% {
        transform: skew(20deg, 20deg);
    }
    100% {
        transform: skew(-20deg, 20deg);
    }
}