<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS Avanzado</title>
    <link rel="stylesheet" href="../public/css/style-fondos-multiples.css">
    <link rel="stylesheet" href="../public/css/styles-degradados.css">
    <link rel="stylesheet" href="../public/css/style-sombra.css">
    <link rel="stylesheet" href="../public/css/style-2D.css">
    <link rel="stylesheet" href="../public/css/style-3D.css">
    <link rel="stylesheet" href="../public/css/style-transiciones.css">
    <link rel="stylesheet" href="../public/css/style-animaciones.css">
</head>
<body>